# archivos de npm
node_modules/
npm-debug.log

# archivos de expo
.expo/
node_modules/
.DS_Store
*.bak
*.tmp
*.apk
*.ipa

#archivos de yarn
yarn-error.log
yarn.lock

# archivos de react
android/
ios/
